.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery{
    
    max-width: 30rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery button{
    height: 2rem;
}